name: Automated Terraform Linting in CI/CD

on: [push]

jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Check Terraform file is formatted correctly
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: terraform fmt
        uses: dflook/terraform-fmt-check@v2
        with:
          path: challenge2
          