name: HelloApp - Build and Push a Container Image Using CI/CD

on: [push]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 
      uses: actions/checkout@v4

    - name: Build Docker Image
      id: buildAndPushImage
      uses: abhishek-070/docker-image-build-push-action@v1.0
      with:
        registry_url: 'docker.io'
        repository_name: 'aftabn10/helloapp'
        user_name: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        image_version: 'v1.0'
        docker_file: '.'
    - name: Get pre step result output image_pull_url
      run: echo "The time was ${{ steps.buildAndPushImage.outputs.image_pull_url }}"
